<div class="lamp-color__wrapper">
  <div class="c-box__wrapper">
    <div class="c-box__container c-box__container-1">
      <div class="c-box__box c-box__rotate">
        <div class="c-box__side c-box__front">
          <input
            type="radio"
            id="lamp-color-purple"
            class="lamp-color__btn lamp-color__btn-prl"
            name="theme"
            value="purple"
          />
          <label
            for="lamp-color-purple"
            class="lamp-color__label lamp-color__label-prl"
            >紫
          </label>
        </div>
        <div class="c-box__side c-box__left">
          <input
            type="radio"
            id="lamp-color-pink"
            class="lamp-color__btn lamp-color__btn-pk"
            name="theme"
            value="pink"
          />
          <label
            for="lamp-color-pink"
            class="lamp-color__label lamp-color__label-pk"
            >赤
          </label>
        </div>
        <div class="c-box__side c-box__right"></div>
        <div class="c-box__side c-box__back"></div>
        <div class="c-box__side c-box__top">
          <label
            for="lamp-color-checked"
            class="lamp-color__label lamp-color__label-checked"
            >?
          </label>
        </div>
        <div class="c-box__side c-box__bottom"></div>
      </div>
    </div>
    <div class="c-box__container c-box__container-2">
      <div class="c-box__box c-box__rotate">
        <div class="c-box__side c-box__front">
          <input
            type="radio"
            id="lamp-color-blue"
            class="lamp-color__btn lamp-color__btn-b"
            name="theme"
            value="blue"
          />
          <label
            for="lamp-color-blue"
            class="lamp-color__label lamp-color__label-b"
            >青
          </label>
        </div>
        <div class="c-box__side c-box__left">
          <input
            type="radio"
            id="lamp-color-lime"
            class="lamp-color__btn lamp-color__btn-l"
            name="theme"
            value="lime"
          />
          <label
            for="lamp-color-lime"
            class="lamp-color__label lamp-color__label-l"
            >緑
          </label>
        </div>
        <div class="c-box__side c-box__right"></div>
        <div class="c-box__side c-box__back"></div>
        <div class="c-box__side c-box__top">
          <input
            type="radio"
            id="lamp-color-white"
            class="lamp-color__btn lamp-color__btn-w"
            name="theme"
            value="white"
            checked="checked"
          />
          <label
            for="lamp-color-white"
            class="lamp-color__label lamp-color__label-w"
            >白
          </label>
        </div>
        <div class="c-box__side c-box__bottom"></div>
      </div>
    </div>
  </div>
</div>
