<header class="header @class">
  <div class="header__pipe-1 pipe rust-2"></div>
  <div class="container">
    <div class="header__container">
      <div class="header__content">
        <div class="header__left-container">
          <nav class="header__left-nav">
            <ul class="header__left-navbar list-reset">
              <li class="header__left-nav-link">
                <a href="#">Jewelry - 宝石類 </a>
              </li>
              <li class="header__left-nav-link">
                <a href="#">Clothes - 服</a>
              </li>
              <li class="header__left-nav-link">
                <a href="#">News - 便り</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header__h-double__container pipe__double-container">
          <div class="header__h-double pipe__double rust-2 pipe"></div>
          <div class="header__h-double pipe__double rust-2 pipe"></div>
        </div>
        <div class="header__pipe-2 pipe pipe--up rust-1">
          <div class="pipe__top"></div>
        </div>
        <div class="header__pipe-3 pipe pipe--down rust-1">
          <div class="pipe__top"></div>
        </div>
        <picture>
          <img
            loading="lazy"
            src="header-lain.gif"
            class="header__lain"
            alt="lain laugh"
          />
        </picture>
      </div>
    </div>
  </div>
</header>
