<section class="hero @class">
  <div class="container">
    <div class="hero__container">
      <div class="hero__line hero__line--top"></div>
      <div class="hero__line hero__line--right"></div>
      <div class="hero__line hero__line--bottom"></div>
      <div class="hero__line hero__line--left"></div>
      <div class="hero-pipe__double-container pipe__double-container">
        <div class="hero-pipe__double-1 pipe__double rust-2 pipe">
          <div
            class="hero-pipe__double-connector-1 pipe__double-connector rust-1 pipe"
          ></div>
          <div class="hero-pipe__double-angle-1 pipe__double-angle rust-2 pipe">
            <div
              class="hero-pipe__double-last-1 pipe__double-last rust-1 pipe"
            ></div>
          </div>
        </div>
        <div class="hero-pipe__double-2 pipe__double rust-2 pipe">
          <div
            class="hero-pipe__double-connector-2 pipe__double-connector rust-2 pipe"
          ></div>
          <div class="hero-pipe__double-angle-2 pipe__double-angle rust-1 pipe">
            <div
              class="hero-pipe__double-last-2 pipe__double-last rust-2 pipe"
            ></div>
          </div>
        </div>
      </div>
      <div class="hero__content">
        <div class="hero__left-top hero__cards">
          <h1 class="hero__title">lxplxce\ラプラスの悪魔</h1>
          <p class="hero__txt hero__txt--lt">
            My Unmatched Perspicacity Coupled With My Sheer Indefatigability
            Makes Me a Feared Opponent in Any Realm of Human Endeavor
          </p>
          <ul class="list-reset hero__lt-nav">
            <li class="hero__lt-nav-item">
              <button class="hero__lt-nav-btn btn btn-reset">
                <a href="#" class="hero__lt-nav-link">Профиль</a>
              </button>
            </li>
            <li class="hero__lt-nav-item">
              <button class="hero__lt-nav-btn btn btn-reset">
                <a href="#" class="hero__lt-nav-link">Корзина</a>
              </button>
            </li>
            <li class="hero__lt-nav-item">
              <button class="hero__lt-nav-btn btn btn-reset">
                <a href="#" class="hero__lt-nav-link">Новое</a>
              </button>
            </li>
            <li class="hero__lt-nav-item">
              <button class="hero__lt-nav-btn btn btn-reset">
                <a href="#" class="hero__lt-nav-link">Контакты</a>
              </button>
            </li>
            <li class="hero__lt-nav-item">
              <button class="hero__lt-nav-btn btn btn-reset">
                <a href="#" class="hero__lt-nav-link">О компании</a>
              </button>
            </li>
            <li class="hero__lt-nav-item">
              <button class="hero__lt-nav-btn btn btn-reset">
                <a href="#" class="hero__lt-nav-link">Выход &nbsp</a>
              </button>
            </li>
            <span class="blink-arrow"></span>
          </ul>
        </div>
        <div class="hero__left-bottom hero__cards">
          <p class="hero__txt">
            ヘルメスの鳥は私の名前であり、私を飼いならすために私の翼を食べています
          </p>
        </div>
        <div class="hero__right-top hero__cards">
          <h1 class="hero__title">宝石類</h1>
          <p class="hero__txt">
            Our collections of Victorian jewelry are at the crossroads of past
            and present. We are constantly researching to bring the best aspects
            of the Victorian era to our jewellery.
          </p>
        </div>
        <div class="hero__right-midle hero__cards">
          <div class="swiper hero__lm__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="hero__lm-slide">
                  <h1 class="hero__title">一人立ち</h1>
                  <div class="hero__lm-pic">
                    <img
                      loading="lazy"
                      class="hero__lm-img"
                      src="lain-slider.gif"
                      alt="lm-lain"
                    />
                  </div>
                  <p class="hero__txt">f[[f[f[f[f]]]]33234234]</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="hero__lm-slide">
                  <h1 class="hero__title">一ジャイアン</h1>
                  <div class="hero__lm-pic">
                    <img
                      loading="lazy"
                      class="hero__lm-img"
                      src="lain-slider-2.gif"
                      alt="lm-lain-2"
                    />
                  </div>
                  <p class="hero__txt">
                    ジャイアントパンダ - タケクマ、国際レッドブッ
                  </p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="hero__lm-slide">
                  <h1 class="hero__title">一カモメ</h1>
                  <div class="hero__lm-pic hero__lm-pic--girl">
                    <img
                      loading="lazy"
                      class="hero__lm-img hero__lm-img--girl"
                      src="../img/girl.jpg"
                      alt="lm-girl"
                    />
                  </div>
                  <p class="hero__txt">
                    カモメ 生息するカモメ目の鳥の科です。漸新世から。
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero__right-bottom hero__cards">
          <h1 class="hero__title">angel tears\天使の涙</h1>
          <p class="hero__txt">
            Liven up your personality and add some mystery and charm to your
            life with our Victorian costume jewelry.
          </p>
        </div>
      </div>
      <video class="hero__video-bg" autoplay muted loop preload="auto">
        <source src="misa.webm" type="video/webm" />
        <source src="misa.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</section>
