<section class="noname @class">
  <div class="container">
    <div class="noname__content">
      <p class="noname__txt">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id nobis
        nesciunt incidunt magni, fuga perspiciatis consequatur eius provident
        quas nam aspernatur exercitationem, vero hic eaque placeat adipisci
        iusto quisquam! Eum. Error incidunt quibusdam ipsam id explicabo, quasi
        quas vel ut molestias illum a excepturi voluptatum? Officia a quibusdam
        iusto alias, repudiandae quos praesentium officiis debitis perspiciatis
      </p>
      <p class="noname__txt">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id nobis
        nesciunt incidunt magni, fuga perspiciatis consequatur eius provident
        quas nam aspernatur exercitationem, vero hic eaque placeat adipisci
        iusto quisquam! Eum. Error incidunt quibusdam ipsam id explicabo, quasi
        quas vel ut molestias illum a excepturi voluptatum? Officia a quibusdam
        iusto alias, repudiandae quos praesentium officiis debitis perspiciatis
      </p>
      <p class="noname__txt">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id nobis
        nesciunt incidunt magni, fuga perspiciatis consequatur eius provident
        quas nam aspernatur exercitationem, vero hic eaque placeat adipisci
        iusto quisquam! Eum. Error incidunt quibusdam ipsam id explicabo, quasi
        quas vel ut molestias illum a excepturi voluptatum? Officia a quibusdam
        iusto alias, repudiandae quos praesentium officiis debitis perspiciatis
      </p>
    </div>
  </div>
</section>
